<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="assets/js/jquery.min.js"></script>
    <script th:src="@{/webjars/layui/2.5.5/layui.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/layui/2.5.5/css/layui.css}">
</head>
<body>
<form class="layui-form goodsAddForm" action="http://localhost:8099/saveGoods" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">发布者:</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input layui-disabled" readonly id="inputUser" name="user">
        </div>

    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品类别</label>
        <div class="layui-input-block">
            <select name="modules" lay-verify="required" lay-search="" id="select01">
                <option value="">直接选择或搜索选择</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">详情概述</label>
        <div class="layui-input-block">
            <textarea name="smallTit" id="smallTit" placeholder="购买时间，价格，损坏情况，发票是否还有等" class="layui-textarea" lay-verify="required"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">您所想支付或者收益的价格</label>
        <div class="layui-input-inline">
            <input type="text" name="number" lay-verify="requires|number" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">订单截止时间</label>
        <div class="layui-input-inline">
            <input type="text" name="date" id="date" lay-verify="date" class="layui-input" placeholder="yyyy-MM-dd">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">商品图片上传</label>
        <div class="layui-input-block">
            <button type="button" class="layui-btn" id="test1">
                <i class="layui-icon">&#xe67c;</i>选择图片（最多选择3张，单张图片最大为1M）
            </button>
            <button type="button" class="layui-btn" id="test9">开始上传</button>
            <button type="button" class="layui-btn" id="cleanImgs" onclick="cleanImgsPreview()">
                <i class="fa fa-trash-o fa-lg"></i>清空图片预览
            </button>
        </div>
        <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
            预览图：
            <div class="layui-upload-list" id="demo2"></div>
        </blockquote>
    </div>

    <input type="text" id="imgUrls" name="imgUrls" style="display: none;" class="layui-input">
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" type="submit" style="width: 800px;" id="btnSubmit" lay-submit lay-filter="jiancha">
                提交处理
            </button>
        </div>
    </div>
</form>
</body>
<script>
    var success=0;
    var fail=0;
    var imgurls="";
    var canshu = window.location.search;
    /*
    * 动态获取
    * */
    function f() {
        $.ajax({
            url:"http://localhost:8099/findGongneng",
            async:false,
            success:function (data) {
                for (var i = 0;i<data.length;i++){
                    $('#select01').append("<option>"+data[i].name+"</option>")
                }
            },
            error:function () {
                alert('获取可选择任务列表出错');
            }

        });
    };
    $(function (){
        $.ajax({
            url:"http://localhost:8099/n",
            success:function (data) {
                $('#inputUser').val(data);
            },
            error:function () {
                alert("服务器出错")
            }

        });
        var imgsName="";
        layui.use(['upload','layer','form','laydate'],function() {

            var upload = layui.upload;
            var layer=layui.layer;
            var form = layui.form;
            var laydate = layui.laydate;
            laydate.render({
               elem:'#date'
            });
            form.render(
               f()
            );
            upload.render({
                elem: '#test1',
                url: '/upload',
                multiple: true,
                auto:false,
//			上传的单个图片大小
                size:1024,
//			最多上传的数量
                number:3,
//			MultipartFile file 对应，layui默认就是file,要改动则相应改动
                field:'file',
                bindAction: '#test9',
                before: function(obj) {
                    //预读本地文件示例，不支持ie8
                    obj.preview(function(index, file, result) {
                        $('#demo2').append('<img src="' + result
                            + '" alt="' + file.name
                            +'"height="92px" width="92px" class="layui-upload-img uploadImgPreView">')
                    });
                },
                done: function(res, index, upload) {
                    //每个图片上传结束的回调，成功的话，就把新图片的名字保存起来，作为数据提交
                    console.log(res.code);
                    if(res.code=="1"){
                        fail++;
                    }else{
                        success++;
                        imgurls=imgurls+""+res.data.src+",";
                        $('#imgUrls').val(imgurls);
                    }
                },
                allDone:function(obj){
                    layer.msg("总共要上传图片总数为："+(fail+success)+"\n"
                        +"其中上传成功图片数为："+success+"\n"
                        +"其中上传失败图片数为："+fail
                    )
                }
            });

        }); 

    });

    /**
     * 清空预览的图片及其对应的成功失败数
     * 原因：如果已经存在预览的图片的话，再次点击上选择图片时，预览图片会不断累加
     * 表面上做上传成功的个数清0，实际后台已经上传成功保存了的，只是没有使用，以最终商品添加的提交的为准
     */
    function cleanImgsPreview(){
            success=0;
            fail=0;
            $('#demo2').html("");
            $('#imgUrls').val("");
    }

</script>
</html>